body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  -webkit-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.28);
  box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.28);
}

.header-container {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.main-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.main-logo:hover,
.main-logo:focus {
  color: #f8d46e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-contacts {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  margin-left: auto;
}

.header-contacts li:first-child {
  margin-right: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #f8d46e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

main {
  padding: 20px;
  min-height: 300px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.team-member {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
