body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.28);
}

.header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.main-logo:hover,
.main-logo:focus {
  color: #f8d46e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.header-contacts {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.header-contacts li:first-child {
  margin-right: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #f8d46e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .main-logo {
    margin-bottom: 15px;
  }

  .header-contacts {
    margin: 0;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .contacts-link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  .main-logo {
    font-size: 18px;
    margin-left: 0;
  }

  .logo-img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .header-contacts {
    padding: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .header-contacts li {
    margin-bottom: 10px;
  }

  .contacts-img {
    width: 18px;
    height: 18px;
  }
}

main {
  padding: 20px;
  min-height: 300px;
}

.main-header {
  text-align: center;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.team-member {
  overflow: hidden;
  word-wrap: break-word;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.team-member:hover {
  transform: scale(1.05);
  border-color: #f8d46e;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.39);
  -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.39);
  box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.39);
  .member-photo {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.39);
    -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.39);
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.39);
  }
}

.member-photo {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.member-contacts {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.member-link:first-child {
  margin-right: 10px;
}

.member-link img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.member-link img:hover {
  transform: scale(1.25);
}

.description-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.description-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .team-member {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .team-member {
    width: calc(100% - 20px);
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 0px 8px 9px rgba(34, 60, 80, 0.28);
}

.footer-text {
  font-size: 12px;
}

.footer-bage {
  width: 100px;
  height: 100px;
  animation: pulse 3s infinite ease-in-out;
}
